/*Mobile devices*/
.introMobile{
    margin-left: 3%;
    margin-right: 3%;
    background-color: rgb(206, 197, 197);
    margin-bottom: 9%;
}
.titleMobile{
    text-align: center;
}
/*Other devices*/

h2{
    margin-left: 1%;
}
h4{
    text-shadow: none;
}
.intro{
    margin-left: 1%;
    margin-right: 1%;
}
span{
    color:blue;
    text-decoration:underline;
}
.a{
    color:blue;
    text-decoration:underline;
}